@charset "utf-8";
/* CSS Document */
/* Base Settings Start */

html,body,ul,li,a,span,div,p,input,button,h1,h2,h3,h4 {
	margin:0px;
}

html {
	overflow:auto;
}

html, body {
	height:100%;
}

body {
	/*font-size:11px;*/
	/*font-family:Arial, Helvetica, sans-serif;*/
	/*background-repeat: repeat-x;
	/*overflow-y:hidden; /*刪除水平捲軸*/
	
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	color:#FFFFFF;
}

/*
tr {
	text-decoration:none;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 11pt;
}

tr:hover, tr.hover {
	color:#CCCCCC;
	text-decoration: none;
	line-height: 11pt;
}

tr:active, tr.active {
	color:#CCCCCC;
	text-decoration: none;
	line-height: 11pt;
}*/